@model System.Data.DataTable
@{
    ViewBag.Title = "Login";
}

<table class="table table-bordered table-striped">
    <tr>

        <th>UserName</th>
        @*<th>Password</th>*@

        @*<th>Email</th>
            <th>Mobile</th>*@
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            @*<td>@Model.Rows[i][2]</td>
                <td>@Model.Rows[i][3]</td>*@


        </tr>
    }
</table>
<!--<a href=" @Url.Action("Registration","Store")">Registration</a>--> @*page wher to direct =Registration , controller=store*@
